@import "./general.scss";

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__results {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
}
.results {
    &__res {
        position: relative;
        box-sizing: content-box;
        padding: 1rem 0;
    }
    &__wpm {
        &::after {
            content: "wpm";
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            bottom: 0;
            font-size: 1rem;
        }
    }
    &__time {
        &::after {
            content: "time";
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            bottom: 0;
            font-size: 1rem;
        }
    }
    &__mistakes {
        &::after {
            content: "mistakes";
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            bottom: 0;
            font-size: 1rem;
        }
    }
}

.links {
    &__link {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        color: $green-color;
        text-decoration: none;
        border: 1px solid $green-color;
        border-radius: 4px;
        width: fit-content;
        padding: 4px;
        // margin-inline: auto;
        transition: all $transition;
        width: 6rem;
        &:hover {
            border-color: $green-color;
            scale: 1.2;
        }
        &:focus {
            border-color: $green-color;
            scale: 1.2;
            outline: none;
        }
    }
}

.vr {
    width: 3px;
    height: 3rem;
    background-color: $green-color;
}
