$base-color: #272635;
$text-color: #fbfbff;
$correct-color: #7ac74f;
$incorrect-color: #ff715b;

$header-padding: 0 4rem;

$title-fs: 1.5rem;

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}
