$base-color: #222222;
$text-color: #fbfbff;
$green-color: #7ac74f;
$red-color: #ff715b;

$header-padding: 0 4rem;

$title-fs: 1.5rem;
$subtitle-fs: 1.3rem;
$text-fs: 1.2rem;

$transition: 0.3s;

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}
