@import "./general.scss";

.input {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    gap: 1rem;
    &__label {
        color: $green-color;
        font-size: $subtitle-fs;
    }
    &__textarea {
        resize: none;
        outline: none;
        background-color: inherit;
        color: $text-color;
        overflow: hidden;
        border: none;

        font-size: $text-fs;
    }
    &__link{
        color: $red-color;
        text-decoration: none;
        border: 1px solid $red-color;
        border-radius: 4px;
        width: fit-content;
        padding: 4px;
        margin-inline: auto;
        transition: all $transition;
        &:hover{
            color: $green-color;
            border-color: $green-color;
            scale: 1.2;
        }
    }
}
