@import "./general.scss";

.practice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__text {
        font-size: $text-fs;
        display: flex;
    }
}

.correct {
    color: $green-color;
}

.spaceSpan {
    padding-top: 0.4rem;
}
