@import "./general.scss";

.practice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__text {
        font-size: $text-fs;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
    }
}

.correct {
    color: $green-color;
}

.spaceSpan {
    margin-top: 0.5rem;
    // font-size: 2.5rem;
}



.cursor {
    display: block;
    width: 2px;
    height: 1.7rem;
    background-color: $green-color;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}
