@import "./general.scss";

.practice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    &__text {
        font-size: $text-fs;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.correct {
    color: $green-color;
}

.spaceSpan {
    margin-top: 0.7rem;
    display: flex;
    width: 24px !important; 
    height: 24px !important;
    & path{
        width: 100% !important;
    }
}

.cursor {
    display: block;
    width: 2px;
    height: 1.7rem;
    background-color: $green-color;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}
