@import "./general.scss";

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    flex-direction: column;
    &__titles {
        display: flex;
        width: 100%;
        border-bottom: 3px solid $green-color;
    }
}

.titles {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    }
}

.link{
    outline: none;
    &:hover{
        display: block;
        background-color: rgb(25,25,25);
        width: 100%;
        height: 100%;
    }
    &:focus{
        display: block;
        background-color: rgb(25,25,25);
        width: 100%;
        height: 100%;
    }
}
