@import "./general.scss";

.wrapper {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    // overflow: hidden;
}
.table {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    flex-direction: column;
    &__titles {
        display: flex;
        width: 100%;
        border-bottom: 3px solid $green-color;
    }
    &__link {
        border: 1px solid $green-color;
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        margin-top: 2rem;
        border-radius: 4px;
        color: $green-color;
        transition: all $transition;
        &:hover {
            border-color: $green-color;
            scale: 1.2;
        }
        &:focus {
            border-color: $green-color;
            scale: 1.2;
            outline: none;
        }
    }
}

.titles {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    }
}

.link {
    outline: none;
    &:hover {
        display: block;
        background-color: rgb(25, 25, 25);
        width: 100%;
        height: 100%;
    }
    &:focus {
        display: block;
        background-color: rgb(25, 25, 25);
        width: 100%;
        height: 100%;
    }
}
